@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  --tt-toolbar-height: 44px;
  --tt-theme-text: var(--tt-gray-light-900);

  .dark & {
    --tt-theme-text: var(--tt-gray-dark-900);
  }
}

body {
  font-family: "Inter", sans-serif;
  color: var(--tt-theme-text);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: 0;
}

html,
body,
#root,
#app {
  height: 100%;
  background-color: var(--tt-bg-color);
}

body {
  overflow: hidden;
}

.tiptap.ProseMirror {
  font-family: "DM Sans", sans-serif;
}

.content-wrapper {
  height: calc(100% - var(--tt-toolbar-height));
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: block;
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--tt-scrollbar-color);
    border-radius: 4px;
  }

  scrollbar-width: thin;
  scrollbar-color: var(--tt-scrollbar-color) transparent;
}

.editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.simple-editor-content {
  max-width: 1000px; 
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.simple-editor-content .tiptap.ProseMirror {
  height: calc(100% - 60px);
  font-size: 1.15rem;
  padding: 1.5rem 2rem;
  overflow-y: auto;
  border-radius: 0.5rem;
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .simple-editor-content {
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }
  .simple-editor-content .tiptap.ProseMirror {
    padding: 1rem 1.25rem;
    font-size: 1rem;
    padding-top: calc(var(--tt-toolbar-height) + 0.5rem);
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .editor-container {
    position: relative;
  }
}
